BOT_TOKEN=PUT_DISCORD_BOT_TOKEN_HERE
BOT_CLIENT_ID=PUT_CLIENT_ID_HERE
BOT_API_PORT=4100
BOT_HOST=0.0.0.0
SHARED_API_SECRET=change-me
PANEL_DATA_FILE=../data/panels.json
GUILDS_DATA_FILE=../data/guilds.json
